<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>loadsong</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
  <!-- contact form created for treehouse competition.-->
<form action="/load" method="post" id="imeson">
  <div class="container">
    <div class="head">
      <h2>TEST</h2>
    </div>
    <textarea id="txt" type="text" name="songname" placeholder="テストテストテストテスト"></textarea><br />
    <input type="submit" class="button" value="Search!">
  </div>
</form>

  
</body>
</html>