/*copied from :https://deshinon.com/2019/03/03/otoiawase-oshare-css-kopie/*/
/*送信画面*/
body {
  padding-top:25px;
  /*background-color:#00818A;*/
  background: rgb(0,94,99);
background: linear-gradient(90deg, rgba(0,94,99,1) 0%, rgba(0,110,118,1) 35%, rgba(0,124,133,1) 86%, rgba(2,137,143,1) 100%);
  margin-left:10px;
  margin-right:10px;
}
.container {
  max-width:600px;
  margin:0 auto;
  text-align:center;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  border: 2px solid #F9CE00;
  background-color:#00818A;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.container-blue{
  max-width:600px;
  margin:0 auto;
  text-align:center;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  border: 2px solid #09194F;
  background-color:#00818A;
}

.head {
  color:#FDFDEB;
}
h2 {
  text-align:center;
  padding:18px 0 18px 0;
  font-size: 1.4em;
}
input {
  margin-bottom:10px;
}
textarea {
  height:100px;
  margin-bottom:10px;
}
input:first-of-type
{
  margin-top:35px;
}
input, textarea {
  font-size: 1em;
  padding: 15px 10px 10px;
  font-family: 'Source Sans Pro',arial,sans-serif;
  border: 1px solid #cecece;
  background: #FDFDEB;
  color:#00818A;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  max-width: 600px;
}
::-webkit-input-placeholder {
   color: #00818A;
}
:-ms-input-placeholder {  
   color: #00818A;  
}
.button {
  margin-top:15px;
  margin-bottom:25px;
  background-color:#FDFDEB;
  padding: 12px 45px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  width:30%;
  color:#00818A;
  border: none;
  outline: none;
}
.button:hover {
  background:#09194F;
  color:#F9CE00;
}
label.error {
    font-family:'Source Sans Pro',arial,sans-serif;
    font-size:1em;
    display:block;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#d89c9c;
    width: 80%;
    margin:auto;
    color: #00818A;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}
/* media queries */
@media (max-width: 700px) {
  label.error {
    width: 90%;
  }
  input, textarea {
    width: 90%;
  }
  .button {
    width:90%;
  }
  body {
  padding-top:10px;
  }  
}
.usertext {
    font-family:'Source Sans Pro',arial,sans-serif;
    font-size:1.1em;
    display:none;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#FDFDEB;
    width: 80%;
    margin:auto;
    color: #00818A;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}

/*結果表示－usertext*/
.usertextresult {
  text-align:center;
  color:#FDFDEB;
}

.card{
  width: 200px;
  height: 30px;
  color:#fff;
  border: 2px solid #fff; 
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 30px;
  background-color:#00818A;
  float: none;
  display: inline-block;
}

/* タブレット用のスタイル（幅が768px未満の場合） */
@media (max-width: 767px) {
  .card {
    width: 150px; /* タブレット用の幅 */
    height: 75px; /* タブレット用の高さ */
    margin-right: 5px; /* タブレット用のカード間の余白 */
  }
}

/* スマートフォン用のスタイル（幅が576px未満の場合） */
@media (max-width: 575px) {
  .card {
    width: 80%; /* 幅を100%に設定して横幅いっぱいに表示 */
    height: auto; /* 高さを自動調整してコンテンツに合わせる */
    margin-right: 0; /* カード間の余白を解除 */
  }
}

.center{
  text-align: center;
}

.link{
  color:#F9CE00;
}